.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  margin-top: 10px;
}
